.apply-dfc{
  .lead-box{
    background:  white;
    padding-left: 2rem;
    padding-right: 2rem;

    .heading{
      font-weight: $font-weight-base;
    }

    .lead-image{
      img{
        max-width: 120px;
      }
    }

  }
}