.navbar{
  padding: 0.6rem 0;
  font-size: 1.1rem;

  @include media-breakpoint-up(lg){
    padding: 1.5rem 0;
  }

  .navbar-toggler{
    border: none;
  }
}


.navbar-expand-lg{

  .navbar-nav{

    .nav-item{
      text-align: center;
      margin-left: 1.5em;
      margin-right: 1.5em;

      @include media-breakpoint-down(lg){
        margin-left: 1em;
        margin-right: 1em;
      }

      &.short {
        margin-left: 0em;
        text-align: center;
      }

      &:hover, &.active{
        > .nav-link{
          color: $theme-pink;
          border-bottom-color: $theme-pink;
        }
      }
    }

    .nav-link{
      font-weight: $font-weight-bold;
      border-bottom: transparent solid 2px;
      padding: 0.1em;
    }
  }


  .navbar-brand{
    width: 80px;
    width: 128px;
  }

  .login-nav{
    border-top: rgba($dark, 0.3) solid 1px;
    margin-left: 1rem;
    border: none;
    margin-top: -5px;

    .user-profile {
      font-size: 1.5em;
    }

    .nav-link{
      padding-top: 0.3rem;
      font-size: 0.8rem;
      font-weight: $font-weight-regular;
      border-color: $dark;
      border-bottom-width: 1px;
    }

  }

  .account-nav{
    display: none;
  }

}