.reviews{
  padding: 3.5rem 0 1.8rem;

  .review-item{
    @extend .rounded, .border;
    padding: 1rem;
    box-shadow: rgba($dark, 0.2) 0 3px 5px;
  }

  .review-text{
    color: $theme-light-blue;
    font-size: 0.89rem;
    line-height: 1.7;
    margin-bottom: 2.6rem;

    &:before{
      display: block;
      content: url("../../../img/img_qoute_icon.jpg");
    }
  }

  .review-author{
    color: $gray-700;
    text-align: center;
    font-size: 0.7rem;
  }

  .author-image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }

  .author-details{
    border-top: $gray-300 solid 1px;
    padding-top: 0.8rem;
    line-height: 1.7;
  }

  .author-name{
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }
}

.reviews-new{

  .review-item{
    margin-bottom: 2rem;
  }

  .review-text{
    background: $success;
    color: white;
    padding: 1.3rem 1.5rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: 2rem;
  }

  .review-author{
    text-align: center;
    max-width: 200px;
    margin: auto;
  }

  .author-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: $success solid 6px;
  }

  .author-name{
    font-size: 1rem;
    margin-top: 1.3rem;
  }

  .author-details{
    font-size: 0.85rem;
  }

}