.top-bar{
  padding: 0;
  text-transform: none;

  .navbar-collapse{
    background: $topbar-background;
    color: $topbar-color;
    text-align: center;
    padding: 0.8rem 0;
    font-size: 0.8rem;
  }

  .btn{
    margin-left: 1rem;
  }
}