.top-bar{
  padding: 0;
  text-transform: none;

  .navbar-collapse{
    background: $topbar-background;
    color: get-contrast-color($topbar-background);
    text-align: center;
    font-weight: $font-weight-bold;
    padding: 1rem 0;
  }

  .btn{
    margin-left: 1rem;
  }
}