// Colors ------------------------------
$pink: #ed1651;

$navbar-link-color: $pink;


// Typography --------------------------

$font-family-base: 'Open Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$font-weight-base: $font-weight-regular;




// Navbar ------------------------------
$navbar-padding-x: 0;
$navbar-padding-y: 0;



// Grids & Layouts ---------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
)


//