.hero {
  overflow: hidden;

  .hero-container {
    @include media-md-down{
      padding-bottom: 0.5rem;
    }

    .heading {

      @include media-lg-down {
        margin-top: 4rem;
      }

      @include media-md-only {
        margin-top: 6rem;
        font-size: 3rem;
      }

      @include media-sm-down {
        margin-top: 8rem;
        font-size: 1.5rem;
      }
    }
  }
}


.fids-list{
  @include media-md-down{
    width: 70%;
  }
}

.top-house{
  margin-left: 20%;

  @include media-lg-down{
    margin-left: 0;
  }
}

.single-stage-list{
  @include media-md-down{
    margin-bottom: 1.5rem;
    min-width: 50%;
  }
}


.video-area{
  overflow-x: hidden;

  .row{
    @include media-md-up{
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
  }

  iframe{
    width: 100%;

    @include media-md-down{
      margin-bottom: 1rem;
    }
  }

}


.step-area{
  overflow-x: hidden;

  .step-img-main{
    img.br-1{
      @include media-md-down{
        display: none;
      }
    }
  }

  .do-list-wrp{
    .do-list{
      &, + .do-list {
        @include media-lg-down{
          flex: 0 0 100%;
          max-width: none;
        }
      }

      + .do-list{
        @include media-lg-down{
          margin-top: -10rem;
        }

        @include media-sm-down{
          margin-top: 4rem;
        }
      }

    }


  }

  @include media-md-down{

    .row.step-1{
      margin-top: 0;
    }

    .row.step-1, .row.single-row{
      max-width: none;
    }

    .step-text-blk{
      width: auto;
    }

    .step-2{
      .col-lg-7{
        .step-text-blk{
          margin-top: 2rem;
        }
      }
    }

    .row.single-row{
      &.step-2, &.step-4{
        margin-top: 2rem;
      }
    }

    .row.step-4{
      margin-top: 2rem;
    }

    .step-4{
      .house{
        display: none;
      }
    }

  }
}