/* Base CSS */
@font-face {
  font-family: RusticLoveTattoo;
  src: url(../fonts/RusticLoveTattoo.otf);
}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a {
  &:focus {
    outline: 0 solid;
  }
  &:hover {
    text-decoration: none;
  }
}
img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin: 0 0 15px;
  color: #1B1B21;
}
h3 {
  margin: 0 0 15px;
  color: #1B1B21;
}
h4 {
  margin: 0 0 15px;
  color: #1B1B21;
}
h5 {
  margin: 0 0 15px;
  color: #1B1B21;
}
h6 {
  margin: 0 0 15px;
  color: #1B1B21;
}
body {
  color: #545051;
  font-family: 'Open Sans', sans-serif;
}


.phone-embed{
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 327px;
  margin-top: -150px;
  background: url('/dfcusa-web/app/webroot/challenges/dogoodfromhome/img/phone.png') no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media-sm-up{
    width: 380px;
    height: 590px;
    margin-top: -280px;
  }

  @include media-lg-up{
    position: absolute;
    right: 80px;
    top: 70px;
    z-index: 999;
    margin-top: 0;
  }

  @include media-xl-up{
    right: 180px;
  }

  iframe{
    position: absolute;
    border-radius: 16px;
    top: 8px;
    left: 37px;
    width: 128px;
    height: 277px;

    @include media-sm-up{
      top: 15px;
      left: 70px;
      width: 243px;
      border-radius: 28px;
      height: 525px;
    }
  }

}


.hero {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  height: 400px;

  @include media-sm-up{
    height: 600px;
  }

  @include media-lg-up{
    height: auto;
  }

  .accent-star{
    @include media-md-down{
      top: 100%;
      right: 0;
      left: 50%;
      transform: translateX(5%);
    }
  }

  .logo-container {
    margin-left: auto;
    margin-right: auto;

    @include media-lg-up{
      position: absolute;
      top: 20px;
      left: 40px;
    }

    @include media-md-down{
      text-align: center;
    }

    a {
      color: #fff;
    }

    .logo-dfc {
      width: 100px;
    }

    .logo-hasbro {
      width: 90px;
    }

    p {
      color: #fff;
      font-size: 10pt;
      margin-top: -10px;
      font-family: 'Arial', cursive;
    }

  }

  .hero-container {
    max-width: none;

    @include media-xl-down{
      padding-top: 1rem;
    }

    .content{
      position: relative;

      @include media-md-down{
        text-align: center;
      }
    }


    .heading {
      font-size: 35px;
      font-weight: 300;
      transform: rotate(-3deg);
      margin-top: 1rem;
      text-align: center;
      display: inline-block;

      @include media-xs-only{
        font-size: 25px;
      }

      @include media-sm-down{
        font-size: 25px;
        margin-top: 0;
      }

      @include media-lg-up{
        margin-top: 2.5rem;
        padding-left: 2rem;
      }

      @include media-xl-up{
        margin-top: 2rem;
        padding-left: 0;
      }

      .big {
        font-family: 'Anton';
        display: block;
        font-size: 24px;

        @include media-sm-only{
          font-size: 28px;
        }

        @include media-md-only{
          font-size: 46px;
        }

        @include media-lg-up{
          font-size: 5vw;
        }

        @include media-xl-up{
          font-size: 6vw;
        }
      }

      .hashtag {
        font-size: 0.7em;
        color: #efff00;
        line-height: 1em;
        vertical-align: middle;
        margin-right: 0.2em;

        @include media-lg-up{

        }
      }
    }

    .lead {
      margin-top: 12pt;
      font-size: 15pt;
      color: #f1f1f1;
    }
  }
}

.section-title {
  text-align: center;
  margin-bottom: 42px;
  h2 {
    color: #d0063c;
    font-size: 38px;
    font-weight: bold;
  }
  p {
    font-size: 13pt;
  }
}

.fids-list {
  width: 100%;
  position: relative;

  > .row{

    .col{
      margin-bottom: 1rem;
      min-width: 100%;

      @include media-sm-up{
        min-width: 50%;
      }

      @include media-md-up{
        min-width: 0;
      }
    }
  }

  .accent-arrow {
    position: absolute;
    left: -100px;
    top: 100px;
  }

  .single-stage-list {
    h2 {
      font-size: 23px;
      font-weight: 900;
      text-transform: uppercase;
      color: #545051;
      margin-bottom: 4px;
      margin-top: 10px;
    }

    p {
      font-size: 15px;
      color: #545051;
      margin: 0;
    }
  }
}

.why-area {
  padding: 17px 0;
  color: #666;
  position: relative;
  font-weight: 500;

  @include media-lg-up{
    margin-top: 3rem;
  }

  .section-title {
    margin-bottom: 0px;

    h2 {
      font-size: 23pt;
      font-family: 'Anton';
      font-weight: 300;
      padding-bottom: 20px;
      color: #fa5b0d;
      text-shadow: 1px 1px #f1f1f1;
      border-bottom: 1px dashed #ccc;
    }
  }

  .accent {
    position: absolute;
    bottom: 70px;
    right: -70px;
    z-index: 999;
  }

  .accent-excl {
    position: absolute;
    bottom: 80px;
    left: 20px;
    z-index: 99999;
  }

  .callout-box {
    position: relative;
    z-index: 999;

    h5 {
      font-size: 13pt;
      font-weight: bold;
    }

    border-top: 1px solid #f1f1f1;
    font-size: 11pt;
    background-color: #f1f1f1;
    border-radius: 30px;
  }
}

.help-area {
  background: #0096db;
  padding: 50px 0;
  position: relative;

  .section-title {
    h2 {
      color: #fff;
    }
    color: #fff;
    margin-bottom: 0;
  }

  .sp-2 {
    position: absolute;
    width: 224px;
    top: 0%;
    left: 50%;
    margin-left: -110px;
    margin-top: 8px;
  }

  .owl-nav {
    button {
      position: absolute;
      left: -60px;
      top: 45%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      img {
        max-width: 32px;
      }
    }
    button.owl-next {
      left: auto;
      right: -60px;
    }
  }

  .hlp-img {
    img {
      max-width: 150px;
      margin: 0 auto;
    }
    margin-bottom: 19px;
  }

  .single-help-slider-blk {
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 40px;
    h3 {
      color: #fff;
      font-size: 17px;
      font-weight: 700;
      margin-top: 12px;
      margin-bottom: 9px;
    }
    p {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 18px;
    }
    a {
      color: #fff;
      font-size: 16px;
      i {
        margin-right: 6px;
      }
    }
  }
}

.step-area {
  padding: 70px 0;

  .row.single-row {
    max-width: 88%;
    margin: 0 auto;
  }

  .step-text-blk {
    padding: 30px;
    border: 2px solid #0096db;
    background: #fff;
    width: 530px;
    position: relative;
    p {
      font-size: 16px;
      color: #495057;
      line-height: 30px;
      span {
        font-weight: 600;
        font-size: 20px;
      }
      a {
        color: #ed1651;
      }
    }
    a {
      color: #0096db;
      font-size: 15px;
      font-weight: 600;
      i {
        margin-right: 7px;
      }
    }
  }
  .step-blk-top {
    h2 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 900;
      color: #495057;
      span {
        display: block;
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
      }
    }
    position: relative;
    padding-left: 82px;
    margin-bottom: 42px;
  }
  .step-img {
    position: absolute;
    left: 0;
    top: 4px;
    max-width: 67px;
  }
  .row.step-1 {
    margin-top: 40px;
  }
  .step-img-main {
    img.br-1 {
      max-width: 350px;
      position: absolute;
      right: -211px;
      z-index: -1;
      top: 6px;
    }
    position: relative;
  }
  .step-2 {
    .step-text-blk {
      margin: 0 auto;
      display: block;
    }
  }
  .row.single-row.step-2 {
    max-width: 100%;
    width: 100%;
    margin-top: 70px;
  }
  .br-2 {
    z-index: -1;
    position: absolute;
    right: -58px;
    top: -138px;
  }

  .do-list-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .do-list {
      + {
        .do-list {
          text-align: right;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 60%;
          flex: 0 0 60%;
          max-width: 60%;

          &.small {
            font-size: 10px;
          }
        }
      }
    }
  }
  .do-list {
    max-width: 40%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 40%;

    h4 {
      font-size: 16px;
      font-weight: 400;
      color: #495057;
    }
    ul {
      li {
        color: #495057;
        font-size: 16px;
        position: relative;
        padding-left: 12px;
        &:after {
          position: absolute;
          left: 0;
          top: 11px;
          width: 5px;
          height: 5px;
          background: #495057;
          content: "";
          border-radius: 50%;
        }
      }
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 16px;
      margin-bottom: 21px;
    }
    .phone {
      max-width: 202px;
      display: block;
      margin-left: auto;
      margin-top: -90px;
      padding-bottom: 30px;
    }
    .cdc {
      padding-right: 10px;
    }
  }
  .row.single-row.step-3 {
    margin-top: 142px;
  }
  .b-3 {
    position: absolute;
    z-index: -1;
    top: 55px;
    left: -160px;
    max-width: 502px;
  }
  .step-img-main.tm-img {
    img {
      margin-top: -28px;
      margin-left: 85px;
    }
  }
  .do-list-wrp.tips-list {
    display: block;
    width: 100%;
    background: #f4f4f4;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    .do-list {
      max-width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
    h4 {
      color: #000000;
      font-size: 16px;
      font-weight: 700;
    }
    ul {
      li {
        color: #000000;
        font-size: 16px;
      }
    }
  }
  .tp-sc {
    position: absolute;
    right: 2px;
    bottom: -73px;
    z-index: 9;
    width: 175px;
  }
  .row.single-row.step-4 {
    margin-top: 50px;
  }
  .step-4 {
    .step-text-blk {
      padding-bottom: 47px;
    }
    .step-img-main.tm-img {
      margin-top: 196px;
    }

    .house {
      position: absolute;
      top: -141px;
      left: 200px;
      width: 100px;
    }
  }
  .br-5 {
    position: absolute;
    z-index: -1;
    left: 400px;
    top: -245px;
  }

}

.footer-top-area {
  background: #0096db;
  padding: 60px 0;
  position: relative;
  padding-top: 107px;
  margin-top: 60px;
  .section-title {
    h2 {
      color: #fff;
      span {
        font-weight: 300;
      }
    }
    color: #fff;
  }
}
.ds-logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-tm {
  max-width: 530px;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 65px;
  img {
    width: 100%;
  }
}
.vide-bottom-des {
  text-align: center;
  h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    color: #fff;
    max-width: 70%;
    margin: 0 auto;
  }
}
.subs-box {
  background: #ee1751;
  padding: 47px 30px;
  margin-top: 93px;
  max-width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.sp-1 {
  position: absolute;
  left: 12px;
  top: 5px;
  max-width: 46px;
}
.subs-all {
  h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}
.subs-form {
  form {
    label {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
    }
    input {
      width: 257px;
      border: none;
      height: 40px;
      margin-left: 6px;
      padding: 6px;
    }
    button {
      height: 40px;
      color: #fff;
      background: #0096db;
      border: none;
      width: 114px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      border-radius: 3px;
      margin-left: 6px;
    }
  }
}
.hide {
  display: none !important;
}
.footer {
  margin-top: 0em !important;
}
.tooltip-inner {
  max-width: 450px;
  width: 450px;
  padding-top: 20px;
  background-color: #0097de;
  opacity: 1.0;
}

.social-area {
  margin-top: 3px;
}
