.hero {
  overflow: hidden;
  padding-top: 0em;

  .hero-container {
    @include media-md-down{
      padding-bottom: 0.5rem;
    }

    .logo-container {
      position: relative;
      top: auto;
      left: auto;
      margin: auto;
    }

    .heading {

      @include media-lg-down {
        margin-top: 2rem;
      }

      @include media-md-only {
        margin-top: 6rem;
        font-size: 3rem;
      }

      @include media-sm-down {
        font-size: 1.3rem;
        .big {
          font-family: 'Oswald';
          font-size: 43px;
        }
      }
    }

    iframe{
      width: 100%;

      @include media-md-down{
        margin-top: 2em;
        margin-bottom: 1rem;
      }
    }
  }
}


.fids-list{
  @include media-md-down{
    width: 85%;
    margin-bottom: 1em;
  }
}



.single-stage-list{
  @include media-md-down{
    margin-bottom: 0rem;
    min-width: 50%;
  }

  p {
    @include media-md-down{
      margin-left: 11px !important;
      margin-right: 11px !important;
    }
  }
}


.why-area{
  overflow-x: hidden;

  .accent {
    right: 0px;
  }

  .section-title {
    h2 {
      @include media-md-down{
        font-size: 1.4em;
        line-height: 1.3em;
      }
    }
  }

  .row{
    @include media-md-up{
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
  }

}


.step-area{
  overflow-x: hidden;

  .do-list-wrp{
    .do-list{
      &, + .do-list {
        @include media-lg-down{
          flex: 0 0 100%;
          max-width: none;
        }
      }

      + .do-list{
        @include media-lg-down{
          margin-top: -10rem;
        }

        @include media-sm-down{
          margin-top: 4rem;
        }
      }

    }


  }

  @include media-lg-down{

    .row.step-1{
      margin-top: 0;
    }

    .row.step-1, .row.single-row{
      max-width: none;
    }

    .step-text-blk{
      width: auto;
    }

    .step-2{
      .col-lg-7{
        .step-text-blk{
          margin-top: 2rem;
        }
      }
    }

    .row.single-row{
      &.step-2, &.step-4{
        margin-top: 2rem;
      }
    }

    .row.step-4{
      margin-top: 2rem;
    }

    .step-4{
      .house{
        display: none;
      }
    }

  }
}