/* XL Device :1200px. */
@include media-lg-only {

  .help-slider {
    padding: 0 70px;
  }
  .help-area .owl-nav button {

    left: 17px;

  }
  .help-area .owl-nav button.owl-next {

    right: 17px;
  }


}

/* LG Device :992px. */
@include media-lg-only {

  .help-slider {
    padding: 0 70px;
  }
  .help-area .owl-nav button {

    left: 17px;

  }

  .help-area .owl-nav button.owl-next {

    right: 17px;
  }
  .hero-top-title-logo img {
    max-width: 95%;
  }

  .hero-text-all-inner h2 {

    font-size: 34px;

  }
  .hero-text-all-inner p {
    font-size: 18px;

  }
  .single-option-list h2 {
    font-size: 27px;

  }
  .single-option-list p {
    font-size: 16px;

  }
  .get-started-btn a {

    font-size: 15px;

    padding: 11px 40px;

  }
  .video-blk-inner {

    font-size: 18px;
  }
  .hlp-img img {
    max-width: 170px;

  }
  .sp-1 {

    left: 3px;
    top: 6px;
    max-width: 26px;
  }

  .sp-2 {

    max-width: 145px;

  }
  .help-area .owl-nav button img {
    max-width: 35px;
  }

  .step-img-main.tm-img img {
    margin-top: -72px;
    margin-left: 46px;
  }


}


/* MD Device :768px. */
@include media-md-only {

  .option-lists {
    padding: 0 25px;
  }
  .help-slider {
    padding: 0 70px;
  }
  .help-area .owl-nav button {

    left: 17px;

  }
  .help-area .owl-nav button.owl-next {

    right: 17px;
  }
  .hero-top-title-logo img {
    max-width: 95%;
  }

  .hero-text-all-inner h2 {

    font-size: 34px;

  }
  .hero-text-all-inner p {
    font-size: 18px;

  }
  .single-option-list h2 {
    font-size: 27px;

  }
  .single-option-list p {
    font-size: 16px;

  }
  .get-started-btn a {

    font-size: 15px;

    padding: 11px 40px;

  }
  .video-blk-inner {

    font-size: 18px;
  }
  .hlp-img img {
    max-width: 170px;

  }
  .sp-1 {

    left: 3px;
    top: 6px;
    max-width: 26px;
  }

  .sp-2 {

    max-width: 145px;

  }
  .help-area .owl-nav button img {
    max-width: 35px;
  }

  .step-img-main.tm-img img {
    margin-top: -72px;
    margin-left: 46px;
  }


  .step-img-main img {
    max-width: 351px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
  }
  .step-text-blk {

    margin: 0 auto;
  }
  .step-img-main img.br-1 {
    max-width: 376px;
    position: absolute;
    right: 24px;
    z-index: -1;
    bottom: -161px;
    -webkit-transform: rotate(67deg);
    transform: rotate(67deg);
    top: auto;
  }
  .br-2 {
    z-index: -1;
    position: absolute;
    right: 138px;
    top: -258px;
  }
  .b-3 {

    z-index: -1;
    top: -238px;
    left: 47px;
    max-width: 502px;
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
  .step-3 .step-img-main.tm-img img {
    display: none;
  }
  .b-5 {
    position: absolute;
    z-index: -1;
    left: 12px;
    top: -350px;
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  .step-4 .step-img-main.tm-img {
    margin-top: 30px;
  }
  .step-4 .step-img-main.tm-img img {
    margin-top: 0;
  }

  .section-title h2 span {

    font-weight: 300;
  }


}


/* SM Small Device :320px. */
@include media-sm-only {

  br {
    display: none;
  }

  .help-slider {
    padding: 0 70px;
  }

  .hide-mobile {
    display: none !important;
  }

  .help-area .owl-nav button {

    left: 17px;

  }
  .help-area .owl-nav button.owl-next {

    right: 17px;
  }
  .hero-top-title-logo img {
    max-width: 95%;
  }

  .hero-text-all-inner h2 {
    font-size: 23px;
  }
  .hero-text-all-inner p {
    font-size: 18px;
  }
  .single-option-list h2 {
    font-size: 40px;
  }
  .single-option-list p {
    font-size: 18px;
  }
  .get-started-btn a {

    font-size: 15px;

    padding: 11px 40px;

  }
  .video-blk-inner {

    font-size: 18px;
  }
  .hlp-img img {
    max-width: 170px;

  }
  .sp-1 {

    left: 3px;
    top: 6px;
    max-width: 26px;
  }

  .sp-2 {

    max-width: 145px;

  }
  .help-area .owl-nav button img {
    max-width: 35px;
  }

  .step-img-main.tm-img img {
    margin-top: -72px;
    margin-left: 46px;
  }


  .step-img-main img {
    max-width: 296px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
  }
  .step-text-blk {

    margin: 0 auto;
  }
  .step-img-main img.br-1 {
    max-width: 376px;
    position: absolute;
    right: 24px;
    z-index: -1;
    bottom: -161px;
    -webkit-transform: rotate(67deg);
    transform: rotate(67deg);
    top: auto;
  }
  .br-2 {
    z-index: -1;
    position: absolute;
    right: 116px;
    top: -233px;
    width: 98px;
  }
  .b-3 {
    z-index: -1;
    top: -238px;
    left: 47px;
    max-width: 281px;
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
  .step-3 .step-img-main.tm-img img {
    display: none;
  }
  .b-5 {
    position: absolute;
    z-index: -1;
    left: 12px;
    top: -243px;
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  .step-4 .step-img-main.tm-img {
    margin-top: 30px;
  }
  .step-4 .step-img-main.tm-img img {
    margin-top: 0;
  }

  .section-title h2 span {
    font-weight: 300;
    display: block;
  }

  .option-lists {
    padding: 0 25px;
  }
  .single-option-list {
    margin-bottom: 42px;
  }
  .hero-area {
    padding-top: 54px;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  .video-social-divide {
    display: none;
  }
  .get-started-btn {
    margin-top: -50px;
  }
  .video-blk-inner {
    max-width: 100%;

  }
  .section-title h2 {

    font-size: 27px;

  }
  .step-text-blk {
    padding: 17px;
    border: 1px solid #0096db;
    background: #fff;
    width: 100%;
  }
  .step-blk-top {

    margin-bottom: 21px;
  }
  .row.single-row.step-2 {

    margin-top: 70px;
  }
  .row.single-row {
    max-width: 100%;

  }
  .row.single-row.step-3 {
    margin-top: 70px;
  }

  .do-list-wrp {
    display: block;
  }
  .do-list {
    max-width: 100%;

    -webkit-box-flex: 0;

    -ms-flex: 0 0 100%;

    flex: 0 0 100%;
  }
  .do-list-wrp .do-list + .do-list {

    max-width: 100%;
  }

  .do-list img {
    max-width: 202px;
    display: block;
    margin-left: auto;
    margin-top: 35px;
  }
  .row.single-row.step-4 {
    margin-top: 70px;
  }

  .tp-sc {
    position: absolute;
    right: -8px;
    bottom: -74px;
    z-index: 9;
    max-width: 139px;
  }

  .vide-bottom-des p {
    font-size: 18px;

    max-width: 100%;
    margin: 0 auto;
  }
  .subs-box {

    padding: 28px 23px;
    margin-top: 49px;
    max-width: 100%;

  }
  .subs-form form input {
    width: 100%;

    margin-left: 0;

  }
  .subs-form form button {

    width: 122px;

    font-size: 20px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    margin-top: 17px;
  }
  .step-area {
    padding: 50px 0;
  }
  .step-area {
    overflow: hidden;
  }

}


/* XS Small Device :550px. */
@include media-xs-only {

}