.design-change {
  padding: 80px 0;
  text-align: center;
  color: #fff;
  background: #1a81c4; /* Old browsers */
  background: linear-gradient(to bottom, #1a81c4 0%, #22bfe2 60%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a81c4', endColorstr='#ffffff', GradientType=0); /* IE6-9 */

  h2 {
    margin: 0 0 20px 0;
    font-size: 38px;
    font-weight: $font-weight-bolder;
  }

  p {
    margin: 0 0 60px 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 5%;
  }
}


// TODO: Probably unused style --------------
.design-change-video {
  position: relative;

  iframe {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }

  img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }
}


.home-icons {
  margin: 10px 0 0 0;

  .apply-block {
    text-align: center;

    img {
      padding-bottom: 30px;
      width: 70%;
    }

    h4 {
      font-size: 36px;
      font-weight: $font-weight-bolder;
      color: #333;
      margin: 20px 0 10px 0;
      text-transform: uppercase;
    }

    h5 {
      font-weight: 600;
    }
  }
}


.feel-block {
  h4, h5 {
    color: #EF3934;
  }
}

.imagine-block {
  h4, h5 {
    color: #b7a40e;
  }
}

.do-block {
  h4, h5 {
    color: #6ca213;
  }
}

.share-block {
  h4, h5 {
    color: #3A95D2;
  }
}