.spotlight-heading.inner-hero.inside {
  height: 320px;
}

@media all and (max-width: 767px) {
  .spotlight-heading.inner-hero.inside {
    height: 180px !important;
  }
}

.spotlight-heading.inner-hero h4 {
  top: 24%;
}

.spotlight-content {
  margin-top: -155px;
  position: relative;
  z-index: 1;
}

@media all and (max-width: 767px) {
  .spotlight-content {
    margin-top: -95px;
  }
}

.spotlight-cover {
  background: white;
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 15px;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media all and (max-width: 767px) {
  .spotlight-cover {
    padding: 1.6rem;
  }
}

.spotlight-cover h1 {
  font-weight: bold;
  font-size: 3.5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 767px) {
  .spotlight-cover h1 {
    font-size: 2rem;
  }
}

.spotlight-cover-inner {
  max-width: 1024px;
  margin: 0 auto;
}

.spotlight-video {
  margin: 3rem 0;
}

@media all and (max-width: 767px) {
  .spotlight-video {
    margin: 2rem 0;
  }

  .spotlight-video iframe {
    height: 236px;
  }
}

.spotlight-quote {
  font-size: 1.4rem;
  font-style: italic;
  margin: 5rem auto 2.5rem;
  max-width: 670px;
  position: relative;
}

.spotlight-quote:before {
  content: url("/images/quote.svg");
  position: absolute;
  top: -40px;
  left: -70px;
  width: 90px;
  height: auto;
  z-index: -1;
}

.spotlight-dash {
  margin: 2.5rem auto;
  width: 80px;
  border-bottom: #999 solid 1px;
}

.spotlight-project-description {
  font-size: 1.1rem;
  margin: 2rem 0;
}

.spotlight-project-speaker {
  width: 100%;
  max-width: 380px;
}

.spotlight-project-by {
  background: #EC1E4F;
  color: white;
  max-width: 720px;
  margin: 0 auto;
  padding: 3rem 2.5rem;
  text-align: center;
  font-size: 1.05rem;
  z-index: 1;
}

.spotlight-college-name {
  font-size: 2.35rem;
  font-weight: 700;
  margin: 0.6rem 0 0.8rem;
}

.spotlight-college-about {
  font-size: 1.1rem;
  line-height: 1.6;
}

.spotlight-college-logo {
  width: 100%;
  max-width: 220px;
  display: block;
  margin: 1rem auto;
}

.spotlight-more-info {
  text-align: center;
  position: relative;
  margin: 4rem 0 3rem;
}

@media all and (max-width: 767px) {
  .spotlight-more-info {
    margin: 2.5rem 0 2rem;
  }
}

.spotlight-more-info:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  border-bottom: #999 solid 1px;
}

.spotlight-more-info span {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: white;
  padding: 0 1rem;
  font-size: 1.08rem;
}

@media all and (max-width: 767px) {
  .spotlight-more-info span {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    font-size: 0.8rem;
  }
}

@media all and (max-width: 767px) {
  .spotlight-stages {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.spotlight-stage {
  margin: 2rem 0;
}

@media all and (max-width: 767px) {
  .spotlight-stage {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.spotlight-stage p,
.spotlight-stage ul,
.spotlight-stage li {
  font-size: 1rem;
  line-height: 1.5;
}

.spotlight-stage ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.spotlight-stage ul li {
  margin-bottom: 0.5rem;
}

.spotlight-stage-icon {
  display: block;
  width: 100%;
  max-width: 140px;
  margin: 0 auto;
}

.spotlight-stage-feel .spotlight-stage-name {
  color: #EF3934 !important;
}

.spotlight-stage-imagine .spotlight-stage-name {
  color: #b7a40e !important;
}

.spotlight-stage-do .spotlight-stage-name {
  color: #6ca213 !important;
}

.spotlight-stage-share .spotlight-stage-name {
  color: #3A95D2 !important;
}

.spotlight-stage-name {
  font-size: 1.6rem !important;
  font-weight: bold !important;
  text-align: center;
  margin: 0.8rem 0 1rem !important;
}

.spotlight-stage-name span {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
}

.spotlight-gallery-image {
  margin: 1.2rem 0;
}


/*# sourceMappingURL=spotlight.css.map*/
