/* Base CSS */
@font-face {
  font-family: RusticLoveTattoo;
  src: url(../fonts/RusticLoveTattoo.otf); }
.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.aligncenter {
  display: block;
  margin: 0 auto 15px; }

a:focus {
  outline: 0 solid; }
a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

h2 {
  margin: 0 0 15px;
  color: #1B1B21; }

h3 {
  margin: 0 0 15px;
  color: #1B1B21; }

h4 {
  margin: 0 0 15px;
  color: #1B1B21; }

h5 {
  margin: 0 0 15px;
  color: #1B1B21; }

h6 {
  margin: 0 0 15px;
  color: #1B1B21; }

body {
  color: #545051;
  font-family: 'Open Sans', sans-serif; }

.hero {
  padding-top: 1em;
  padding-bottom: 1em; }
  .hero .logo-container {
    position: absolute;
    top: 20px;
    left: 40px; }
    .hero .logo-container a {
      color: #fff; }
    .hero .logo-container .logo-dfc {
      width: 100px; }
    .hero .logo-container .logo-hasbro {
      width: 90px; }
    .hero .logo-container p {
      color: #fff;
      font-size: 10pt;
      margin-top: -10px;
      font-family: 'Arial', cursive; }
  .hero .hero-container {
    max-width: none; }
    .hero .hero-container .heading {
      font-size: 35px;
      font-weight: 300;
      transform: rotate(-3deg); }
      .hero .hero-container .heading .big {
        font-family: 'Anton';
        font-size: 75px; }
    .hero .hero-container iframe {
      margin-top: 3em; }
    .hero .hero-container .lead {
      margin-top: 12pt;
      font-size: 15pt;
      color: #f1f1f1; }

.section-title {
  text-align: center;
  margin-bottom: 42px; }
  .section-title h2 {
    color: #d0063c;
    font-size: 38px;
    font-weight: bold; }
  .section-title p {
    font-size: 13pt; }

.fids-list {
  width: 100%;
  position: relative; }
  .fids-list .accent-arrow {
    position: absolute;
    left: -100px;
    top: 100px; }
  .fids-list .single-stage-list h2 {
    font-size: 23px;
    font-weight: 900;
    text-transform: uppercase;
    color: #545051;
    margin-bottom: 4px;
    margin-top: 10px; }
  .fids-list .single-stage-list p {
    font-size: 17px;
    color: #545051;
    margin: 0; }

.why-area {
  padding: 17px 0;
  color: #666;
  position: relative;
  font-weight: 500; }
  .why-area .section-title {
    margin-bottom: 0px; }
    .why-area .section-title h2 {
      font-size: 22pt; }
  .why-area .accent {
    position: absolute;
    bottom: 70px;
    right: -70px;
    z-index: -1; }

.help-area {
  background: #0096db;
  padding: 50px 0;
  position: relative; }
  .help-area .section-title {
    color: #fff;
    margin-bottom: 0; }
    .help-area .section-title h2 {
      color: #fff; }
  .help-area .sp-2 {
    position: absolute;
    width: 224px;
    top: 0%;
    left: 50%;
    margin-left: -110px;
    margin-top: 8px; }
  .help-area .owl-nav button {
    position: absolute;
    left: -60px;
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .help-area .owl-nav button img {
      max-width: 32px; }
  .help-area .owl-nav button.owl-next {
    left: auto;
    right: -60px; }
  .help-area .hlp-img {
    margin-bottom: 19px; }
    .help-area .hlp-img img {
      max-width: 150px;
      margin: 0 auto; }
  .help-area .single-help-slider-blk {
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 40px; }
    .help-area .single-help-slider-blk h3 {
      color: #fff;
      font-size: 17px;
      font-weight: 700;
      margin-top: 12px;
      margin-bottom: 9px; }
    .help-area .single-help-slider-blk p {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 18px; }
    .help-area .single-help-slider-blk a {
      color: #fff;
      font-size: 16px; }
      .help-area .single-help-slider-blk a i {
        margin-right: 6px; }

.step-area {
  padding: 70px 0; }
  .step-area .row.single-row {
    max-width: 88%;
    margin: 0 auto; }
  .step-area .step-text-blk {
    padding: 30px;
    border: 2px solid #0096db;
    background: #fff;
    width: 530px;
    position: relative; }
    .step-area .step-text-blk p {
      font-size: 16px;
      color: #495057;
      line-height: 30px; }
      .step-area .step-text-blk p span {
        font-weight: 600;
        font-size: 20px; }
      .step-area .step-text-blk p a {
        color: #ed1651; }
    .step-area .step-text-blk a {
      color: #0096db;
      font-size: 15px;
      font-weight: 600; }
      .step-area .step-text-blk a i {
        margin-right: 7px; }
  .step-area .step-blk-top {
    position: relative;
    padding-left: 82px;
    margin-bottom: 42px; }
    .step-area .step-blk-top h2 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 900;
      color: #495057; }
      .step-area .step-blk-top h2 span {
        display: block;
        font-size: 20px;
        font-weight: 400;
        text-transform: none; }
  .step-area .step-img {
    position: absolute;
    left: 0;
    top: 4px;
    max-width: 67px; }
  .step-area .row.step-1 {
    margin-top: 40px; }
  .step-area .step-img-main {
    position: relative; }
    .step-area .step-img-main img.br-1 {
      max-width: 350px;
      position: absolute;
      right: -211px;
      z-index: -1;
      top: 6px; }
  .step-area .step-2 .step-text-blk {
    margin: 0 auto;
    display: block; }
  .step-area .row.single-row.step-2 {
    max-width: 100%;
    width: 100%;
    margin-top: 70px; }
  .step-area .br-2 {
    z-index: -1;
    position: absolute;
    right: -58px;
    top: -138px; }
  .step-area .do-list-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .step-area .do-list-wrp .do-list + .do-list {
      text-align: right;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 60%; }
      .step-area .do-list-wrp .do-list + .do-list.small {
        font-size: 10px; }
  .step-area .do-list {
    max-width: 40%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 40%; }
    .step-area .do-list h4 {
      font-size: 16px;
      font-weight: 400;
      color: #495057; }
    .step-area .do-list ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 16px;
      margin-bottom: 21px; }
      .step-area .do-list ul li {
        color: #495057;
        font-size: 16px;
        position: relative;
        padding-left: 12px; }
        .step-area .do-list ul li:after {
          position: absolute;
          left: 0;
          top: 11px;
          width: 5px;
          height: 5px;
          background: #495057;
          content: "";
          border-radius: 50%; }
    .step-area .do-list .phone {
      max-width: 202px;
      display: block;
      margin-left: auto;
      margin-top: -90px;
      padding-bottom: 30px; }
    .step-area .do-list .cdc {
      padding-right: 10px; }
  .step-area .row.single-row.step-3 {
    margin-top: 142px; }
  .step-area .b-3 {
    position: absolute;
    z-index: -1;
    top: 55px;
    left: -160px;
    max-width: 502px; }
  .step-area .step-img-main.tm-img img {
    margin-top: -28px;
    margin-left: 85px; }
  .step-area .do-list-wrp.tips-list {
    display: block;
    width: 100%;
    background: #f4f4f4;
    padding: 25px;
    position: relative;
    margin-bottom: 20px; }
    .step-area .do-list-wrp.tips-list .do-list {
      max-width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
    .step-area .do-list-wrp.tips-list h4 {
      color: #000000;
      font-size: 16px;
      font-weight: 700; }
    .step-area .do-list-wrp.tips-list ul li {
      color: #000000;
      font-size: 16px; }
  .step-area .tp-sc {
    position: absolute;
    right: 2px;
    bottom: -73px;
    z-index: 9;
    width: 175px; }
  .step-area .row.single-row.step-4 {
    margin-top: 50px; }
  .step-area .step-4 .step-text-blk {
    padding-bottom: 47px; }
  .step-area .step-4 .step-img-main.tm-img {
    margin-top: 196px; }
  .step-area .step-4 .house {
    position: absolute;
    top: -141px;
    left: 200px;
    width: 100px; }
  .step-area .br-5 {
    position: absolute;
    z-index: -1;
    left: 400px;
    top: -245px; }

.footer-top-area {
  background: #0096db;
  padding: 60px 0;
  position: relative;
  padding-top: 107px;
  margin-top: 60px; }
  .footer-top-area .section-title {
    color: #fff; }
    .footer-top-area .section-title h2 {
      color: #fff; }
      .footer-top-area .section-title h2 span {
        font-weight: 300; }

.ds-logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.video-tm {
  max-width: 530px;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 65px; }
  .video-tm img {
    width: 100%; }

.vide-bottom-des {
  text-align: center; }
  .vide-bottom-des h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700; }
  .vide-bottom-des p {
    font-size: 20px;
    color: #fff;
    max-width: 70%;
    margin: 0 auto; }

.subs-box {
  background: #ee1751;
  padding: 47px 30px;
  margin-top: 93px;
  max-width: 86%;
  margin-left: auto;
  margin-right: auto; }

.sp-1 {
  position: absolute;
  left: 12px;
  top: 5px;
  max-width: 46px; }

.subs-all {
  font-size: 20px;
  color: #fff;
  font-weight: 300; }
  .subs-all h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px; }

.subs-form form label {
  margin: 0;
  font-weight: 600;
  font-size: 20px; }
.subs-form form input {
  width: 257px;
  border: none;
  height: 40px;
  margin-left: 6px;
  padding: 6px; }
.subs-form form button {
  height: 40px;
  color: #fff;
  background: #0096db;
  border: none;
  width: 114px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  border-radius: 3px;
  margin-left: 6px; }

.hide {
  display: none !important; }

.footer {
  margin-top: 0em !important; }

.tooltip-inner {
  max-width: 450px;
  width: 450px;
  padding-top: 20px;
  background-color: #0097de;
  opacity: 1.0; }

.social-area {
  margin-top: 3px; }

/* XL Device :1200px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .help-slider {
    padding: 0 70px; }

  .help-area .owl-nav button {
    left: 17px; }

  .help-area .owl-nav button.owl-next {
    right: 17px; } }
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .help-slider {
    padding: 0 70px; }

  .help-area .owl-nav button {
    left: 17px; }

  .help-area .owl-nav button.owl-next {
    right: 17px; }

  .hero-top-title-logo img {
    max-width: 95%; }

  .hero-text-all-inner h2 {
    font-size: 34px; }

  .hero-text-all-inner p {
    font-size: 18px; }

  .single-option-list h2 {
    font-size: 27px; }

  .single-option-list p {
    font-size: 16px; }

  .get-started-btn a {
    font-size: 15px;
    padding: 11px 40px; }

  .video-blk-inner {
    font-size: 18px; }

  .hlp-img img {
    max-width: 170px; }

  .sp-1 {
    left: 3px;
    top: 6px;
    max-width: 26px; }

  .sp-2 {
    max-width: 145px; }

  .help-area .owl-nav button img {
    max-width: 35px; }

  .step-img-main.tm-img img {
    margin-top: -72px;
    margin-left: 46px; } }
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .option-lists {
    padding: 0 25px; }

  .help-slider {
    padding: 0 70px; }

  .help-area .owl-nav button {
    left: 17px; }

  .help-area .owl-nav button.owl-next {
    right: 17px; }

  .hero-top-title-logo img {
    max-width: 95%; }

  .hero-text-all-inner h2 {
    font-size: 34px; }

  .hero-text-all-inner p {
    font-size: 18px; }

  .single-option-list h2 {
    font-size: 27px; }

  .single-option-list p {
    font-size: 16px; }

  .get-started-btn a {
    font-size: 15px;
    padding: 11px 40px; }

  .video-blk-inner {
    font-size: 18px; }

  .hlp-img img {
    max-width: 170px; }

  .sp-1 {
    left: 3px;
    top: 6px;
    max-width: 26px; }

  .sp-2 {
    max-width: 145px; }

  .help-area .owl-nav button img {
    max-width: 35px; }

  .step-img-main.tm-img img {
    margin-top: -72px;
    margin-left: 46px; }

  .step-img-main img {
    max-width: 351px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px; }

  .step-text-blk {
    margin: 0 auto; }

  .step-img-main img.br-1 {
    max-width: 376px;
    position: absolute;
    right: 24px;
    z-index: -1;
    bottom: -161px;
    -webkit-transform: rotate(67deg);
    transform: rotate(67deg);
    top: auto; }

  .br-2 {
    z-index: -1;
    position: absolute;
    right: 138px;
    top: -258px; }

  .b-3 {
    z-index: -1;
    top: -238px;
    left: 47px;
    max-width: 502px;
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg); }

  .step-3 .step-img-main.tm-img img {
    display: none; }

  .b-5 {
    position: absolute;
    z-index: -1;
    left: 12px;
    top: -350px;
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg); }

  .step-4 .step-img-main.tm-img {
    margin-top: 30px; }

  .step-4 .step-img-main.tm-img img {
    margin-top: 0; }

  .section-title h2 span {
    font-weight: 300; } }
/* SM Small Device :320px. */
@media (min-width: 320px) and (max-width: 767px) {
  br {
    display: none; }

  .help-slider {
    padding: 0 70px; }

  .hide-mobile {
    display: none !important; }

  .help-area .owl-nav button {
    left: 17px; }

  .help-area .owl-nav button.owl-next {
    right: 17px; }

  .hero-top-title-logo img {
    max-width: 95%; }

  .hero-text-all-inner h2 {
    font-size: 23px; }

  .hero-text-all-inner p {
    font-size: 18px; }

  .single-option-list h2 {
    font-size: 40px; }

  .single-option-list p {
    font-size: 18px; }

  .get-started-btn a {
    font-size: 15px;
    padding: 11px 40px; }

  .video-blk-inner {
    font-size: 18px; }

  .hlp-img img {
    max-width: 170px; }

  .sp-1 {
    left: 3px;
    top: 6px;
    max-width: 26px; }

  .sp-2 {
    max-width: 145px; }

  .help-area .owl-nav button img {
    max-width: 35px; }

  .step-img-main.tm-img img {
    margin-top: -72px;
    margin-left: 46px; }

  .step-img-main img {
    max-width: 296px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px; }

  .step-text-blk {
    margin: 0 auto; }

  .step-img-main img.br-1 {
    max-width: 376px;
    position: absolute;
    right: 24px;
    z-index: -1;
    bottom: -161px;
    -webkit-transform: rotate(67deg);
    transform: rotate(67deg);
    top: auto; }

  .br-2 {
    z-index: -1;
    position: absolute;
    right: 116px;
    top: -233px;
    width: 98px; }

  .b-3 {
    z-index: -1;
    top: -238px;
    left: 47px;
    max-width: 281px;
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg); }

  .step-3 .step-img-main.tm-img img {
    display: none; }

  .b-5 {
    position: absolute;
    z-index: -1;
    left: 12px;
    top: -243px;
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg); }

  .step-4 .step-img-main.tm-img {
    margin-top: 30px; }

  .step-4 .step-img-main.tm-img img {
    margin-top: 0; }

  .section-title h2 span {
    font-weight: 300;
    display: block; }

  .option-lists {
    padding: 0 25px; }

  .single-option-list {
    margin-bottom: 42px; }

  .hero-area {
    padding-top: 54px;
    padding-bottom: 40px;
    margin-bottom: 0px; }

  .video-social-divide {
    display: none; }

  .get-started-btn {
    margin-top: -50px; }

  .video-blk-inner {
    max-width: 100%; }

  .section-title h2 {
    font-size: 27px; }

  .step-text-blk {
    padding: 17px;
    border: 1px solid #0096db;
    background: #fff;
    width: 100%; }

  .step-blk-top {
    margin-bottom: 21px; }

  .row.single-row.step-2 {
    margin-top: 70px; }

  .row.single-row {
    max-width: 100%; }

  .row.single-row.step-3 {
    margin-top: 70px; }

  .do-list-wrp {
    display: block; }

  .do-list {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  .do-list-wrp .do-list + .do-list {
    max-width: 100%; }

  .do-list img {
    max-width: 202px;
    display: block;
    margin-left: auto;
    margin-top: 35px; }

  .row.single-row.step-4 {
    margin-top: 70px; }

  .tp-sc {
    position: absolute;
    right: -8px;
    bottom: -74px;
    z-index: 9;
    max-width: 139px; }

  .vide-bottom-des p {
    font-size: 18px;
    max-width: 100%;
    margin: 0 auto; }

  .subs-box {
    padding: 28px 23px;
    margin-top: 49px;
    max-width: 100%; }

  .subs-form form input {
    width: 100%;
    margin-left: 0; }

  .subs-form form button {
    width: 122px;
    font-size: 20px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    margin-top: 17px; }

  .step-area {
    padding: 50px 0; }

  .step-area {
    overflow: hidden; } }
/* XS Small Device :550px. */
.hero {
  overflow: hidden;
  padding-top: 0em; }
  @media (max-width: 991px) {
    .hero .hero-container {
      padding-bottom: 0.5rem; } }
  @media (max-width: 991px) {
    .hero .hero-container .logo-container {
      position: relative;
      top: auto;
      left: auto;
      margin: auto; } }
  @media (max-width: 1200px) {
    .hero .hero-container .heading {
      margin-top: 2rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .hero .hero-container .heading {
      margin-top: 6rem;
      font-size: 3rem; } }
  @media (max-width: 767px) {
    .hero .hero-container .heading {
      font-size: 1.3rem; }
      .hero .hero-container .heading .big {
        font-family: 'Oswald';
        font-size: 43px; } }
  .hero .hero-container iframe {
    width: 100%; }
    @media (max-width: 991px) {
      .hero .hero-container iframe {
        margin-top: 2em;
        margin-bottom: 1rem; } }

@media (max-width: 991px) {
  .fids-list {
    width: 85%;
    margin-bottom: 1em; } }

@media (max-width: 991px) {
  .single-stage-list {
    margin-bottom: 0rem;
    min-width: 50%; } }
@media (max-width: 991px) {
  .single-stage-list p {
    margin-left: 11px !important;
    margin-right: 11px !important; } }

.why-area {
  overflow-x: hidden; }
  .why-area .accent {
    right: 0px; }
  @media (max-width: 991px) {
    .why-area .section-title h2 {
      font-size: 1.4em;
      line-height: 1.3em; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .why-area .row {
      margin-left: auto;
      margin-right: auto;
      width: 75%; } }

.step-area {
  overflow-x: hidden; }
  @media (max-width: 1200px) {
    .step-area .do-list-wrp .do-list, .step-area .do-list-wrp .do-list + .do-list {
      flex: 0 0 100%;
      max-width: none; } }
  @media (max-width: 1200px) {
    .step-area .do-list-wrp .do-list + .do-list {
      margin-top: -10rem; } }
  @media (max-width: 767px) {
    .step-area .do-list-wrp .do-list + .do-list {
      margin-top: 4rem; } }
  @media (max-width: 1200px) {
    .step-area .row.step-1 {
      margin-top: 0; }
    .step-area .row.step-1, .step-area .row.single-row {
      max-width: none; }
    .step-area .step-text-blk {
      width: auto; }
    .step-area .step-2 .col-lg-7 .step-text-blk {
      margin-top: 2rem; }
    .step-area .row.single-row.step-2, .step-area .row.single-row.step-4 {
      margin-top: 2rem; }
    .step-area .row.step-4 {
      margin-top: 2rem; }
    .step-area .step-4 .house {
      display: none; } }

/*# sourceMappingURL=style.css.map */
