// Styles for Forms & Inputs ----------------

button{
  cursor: pointer;
  border: 0;

  &:focus {
    outline: none;
  }
}


input,textarea,select{
  &::placeholder{
    opacity: 1;
  }
}

select {
  appearance: none;
  border-radius: 0;
}