.cta{
  text-align: center;

  .cta-icon{
    margin-bottom: 1.2rem;
    width: 100%;
    height: auto;
    max-width: 142px;
  }

  .heading{
    margin-bottom: 1.2rem;
    font-weight: $font-weight-bolder;
  }
}