.logo-list{
  text-align: center;

  .logos{
    margin: 1.2rem 0 1rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    .heading{
      font-size: 0.9rem;
      font-weight: $font-weight-base;
      color: $gray-700;
      width: 100%;
    }

    &.logo-large{
      .logo{

        @include media-breakpoint-up(lg){
          border-bottom: $gray-300 solid 1px;
        }

        img{
          width: 120px;
        }

        &:nth-child(5){
          @include media-breakpoint-up(lg){
            border-right: none;
          }
        }
      }
    }

    .logo{
      padding: 0.6rem 1rem;
      border-right: $gray-300 solid 1px;

      &:last-child{
        border-right: none;
      }

      a{
        display: flex;
        align-items: center;
        height: 100%;
      }

      img{
        display: block;
        width: 75px;
        height: auto;

        @include media-breakpoint-up(lg){
          width: 100px;
        }
      }
    }
  }

}


.logo-list-split{
  .list-wrap{
    display: flex;
    align-items: stretch;
    margin: 0 -2rem;

    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
  }

  .heading{
    font-size: 0.9rem;
    font-weight: $font-weight-normal;
  }

  img{
    display: block;
    max-width: 100%;
  }

  .presenter{
    text-align: center;
    border-bottom: rgba(black, 0.1) solid 1px;

    @include media-breakpoint-up(md){
      flex: 0 0 250px;
      padding: 0 1rem 0 0;
      border-right: rgba(black, 0.1) solid 1px;
      border-bottom: none;
    }

    .logos-wrap{
      justify-content: center;
    }

    img{
      max-width: 100px;
    }
  }

  .supporters{
    flex: 1 1 auto;

    .logos-wrap{
      justify-content: space-between;

      @include media-breakpoint-down(sm){
        justify-content: center;
      }
    }

    img{
      min-width: 70px;
      max-width: 100px;
    }
  }

  .presenter, .supporters{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    padding: 0 2rem;
  }

  .logos-wrap{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 0 -0.6rem;
    align-items: center;

    .logo{
      margin: 0.6rem;
    }
  }

}

 
.customer_logos{
  margin: 1.2rem 0 1rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;

  .logo{
    padding: 0.6rem 0.5rem;
 
    img{
      display: block;
      max-width: 150px;
      height: auto;
    }
  }
}

.new-home{
  .logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2.4rem 0 0.8rem;

    .logo{
      padding: 0 0.8rem;
      margin-bottom: 1.6rem;
      flex: 0 0 50%;

      @include media-breakpoint-up(sm){
        flex: 0 0 33.3333%;
      }

      @include media-breakpoint-up(md){
        flex: 0 0 20%;
      }

      img{
        width: 80%;
        height: auto;
      }
    }
  }
}